<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, shrink-to-fit=no">
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'libs/css/weui.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'family/css/style.css' %}"> -->
  <style type="text/css">
    header {
      padding: 20px 20px 10px;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-transition: .3s;
      transition: .3s;
      background: #fff;
    }
    .logo {
      display: block;
      width: 137px;
      height: 32px;
      background-image: url({% static 'family/images/Familytree.png' %});
      background-size: 100%;
    }
  </style>
  {% block style %}{% endblock %}
</head>
<body>  
  <header class="weui-flex">
    <a href="/family" class="weui-flex__item"><i class="logo"></i></a>
    {% if user.is_authenticated %}
    <a href="/accounts/profile" class="weui-btn weui-btn_mini weui-btn_plain-primary">{{user.username}}</a>    
    {% else %}
    <a href="/accounts/login" class="weui-btn weui-btn_mini weui-btn_plain-primary">登录</a>
    {% endif %}
  </header>
  {% block content %}{% endblock %}
  {% block footer %}{% endblock %}
  {% block script %}{% endblock %}
</body>
</html>