{% extends "family/base.html" %}
{% load static %}

{% block title %}族谱{% endblock %}

{% block style %}
<style>
  html, body {
    width: 100%;
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .wrap {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    flex: 1;
  }
</style>
{% endblock %}

{% block content %}
<div class="wrap">
  <div id="myDiagramDiv" style="width:100%; height:100%; background-color: #DAE4E4;"></div>
</div>

<section>
  <div
    class="js-data"
    data-key="{{head_member.id}}"
    data-name="{{head_member.last_name}}"
    data-source="{{head_member.image_path}}"
  ></div>
  {% for relation in relations %}
  <div
    class="js-data"
    data-key="{{relation.individual_1_id.id}}"
    data-name="{{relation.individual_1_id.last_name}}"
    data-source="{{relation.individual_1_id.image_path}}"
    data-role="{{relation.relationship_type_code}}"
    data-following="{{relation.individual_2_id.id}}"
  ></div>
  {% endfor %}
</section>

{% endblock %}

{% block script %}
<script src="{% static 'libs/js/go-debug.js' %}"></script>

<script>
  var $ = go.GraphObject.make;
  
  var myDiagram = $(go.Diagram,
    "myDiagramDiv",
    {
      initialAutoScale: go.Diagram.Uniform,
      "undoManager.isEnabled": true,
      layout: $(
        go.TreeLayout,
        {
          angle: 0,
          layerSpacing: 20
        }
      )
    }
  );

  myDiagram.nodeTemplate = $(go.Node,
    "Vertical",
    { background: "#44CCFF" },
    $(go.Picture,
      { margin: 6, width: 64, height: 64, background: "red" },
      new go.Binding("source")
    ),
    $(go.TextBlock,
      "Default Text",
      { margin: 6, width: 64, stroke: "white", font: "bold 16px sans-serif", wrap: go.TextBlock.None },
      new go.Binding("text", "name")
    ),
    // $("TreeExpanderButton")
  );

  myDiagram.linkTemplate = $(go.Link,
    { routing: go.Link.Orthogonal, corner: 5 },
    $(go.Shape,
      { strokeWidth: 3, stroke: "#555" }
    )
  );

  var model = $(go.TreeModel);
  
  window.onload = function() {

    var dom = document.querySelectorAll(".js-data")
    console.log(dom)

    var data = []
    for(var i=0; i<dom.length; i++) {
      data[i] = {}
      data[i].key = dom[i].dataset.key
      data[i].name = dom[i].dataset.name
      data[i].source = "{{ MEDIA_URL }}" + dom[i].dataset.source
      if(dom[i].dataset.role == "M") {
        data[i].spouse = dom[i].dataset.following
      }else if(dom[i].dataset.role == "C") {
        data[i].parent = dom[i].dataset.following
      }
    }
    console.log(data)
    model.nodeDataArray = data
    myDiagram.model = model
          
  }

</script>
{% endblock %}
