{% extends "family/base.html" %}
{% load static %}

{% block title %}首页{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'libs/css/swiper.css' %}">
<style>
  .swiper-container {
    height: 200px;
  }
  .banner-image {
    width: 100%;
    height: 100%;
  }
  footer {
    padding-top: 40px;
    padding-bottom: 10px;
    padding-bottom: calc(10px + constant(safe-area-inset-bottom));
    padding-bottom: calc(10px + env(safe-area-inset-bottom));
    text-align: center;   
  }
</style>
{% endblock %}

{% block content %}
<div class="weui-panel">
  <div class="weui-panel__hd">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="{% static 'family/images/banner/banner_1.jpg' %}" alt="" class="banner-image">
        </div>
        <div class="swiper-slide">
          <img src="{% static 'family/images/banner/banner_2.jpg' %}" alt="" class="banner-image">
        </div>
        <div class="swiper-slide">
          <img src="{% static 'family/images/banner/banner_3.jpg' %}" alt="" class="banner-image">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="weui-panel__bd">
    <div class="weui-grids">
      <a href="{% url 'family:family_list' %}" class="weui-grid">
        <div class="weui-grid__icon">
          <img src="{% static 'family/images/icon/icon_clan.png' %}" alt="">
        </div>
        <p class="weui-grid__label">宗族起源</p>
      </a>      
      <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
          <img src="{% static 'family/images/icon/icon_tabbar.png' %}" alt="">
        </div>
        <p class="weui-grid__label">姓氏由来</p>
      </a>
      <a href="{% url 'family:relationship' family_id=1 %}" class="weui-grid">
        <div class="weui-grid__icon">
          <img src="{% static 'family/images/icon/icon_ genealogical.png' %}" alt="">
        </div>
        <p class="weui-grid__label">宗族族谱</p>
      </a>
      <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
          <img src="{% static 'family/images/icon/icon_family.png' %}" alt="">
        </div>
        <p class="weui-grid__label">我的家族</p>
      </a>
      <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
          <img src="{% static 'family/images/icon/icon_fund.png' %}" alt="">
        </div>
        <p class="weui-grid__label">家族信托</p>
      </a>
      <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
          <img src="{% static 'family/images/icon/icon_legend.png' %}" alt="">
        </div>
        <p class="weui-grid__label">传奇人物</p>
      </a>      
      <a href="{% url 'family:my_member' %}" class="weui-grid">
        <div class="weui-grid__icon">
          <img src="{% static 'family/images/icon/icon_members.png' %}" alt="">
        </div>
        <p class="weui-grid__label">我的成员</p>
      </a>
      <a href="{% url 'family:create_member' %}" class="weui-grid">
        <div class="weui-grid__icon">
          <img src="{% static 'family/images/icon/icon_add_member.png' %}" alt="">
        </div>
        <p class="weui-grid__label">录入成员</p>
      </a>
      <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
          <img src="{% static 'family/images/icon/icon_tabbar.png' %}" alt="">
        </div>
        <p class="weui-grid__label">Grid</p>
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<footer>
  <div class="weui-footer">
    <p class="weui-footer__text">Copyright © 2018-2023 YRCH</p>
  </div>
</footer>
{% endblock %}

{% block script %}
<script src="{% static 'libs/js/swiper.js' %}"></script>
<script>
  var mySwiper = new Swiper ('.swiper-container', {
    pagination: {
      el: '.swiper-pagination',
    },
    autoplay: {
      delay: 5000,
    },
  })
</script>
{% endblock %}
