{% extends "family/base.html" %}

{% block title %}成员详情{% endblock %}

{% block content %}
<div class="weui-panel">
  <div class="weui-panel__hd">成员详情</div>
  <div class="weui-panel__bd">
    <article class="weui-article">
      <h1>{{member.first_name}}{{member.last_name}}</h1>
      <section>
        <h2 class="title">个人事迹</h2>
        <section>
          <h3>基本信息</h3>
          <p>{{member.date_of_birth}}{{member.place_of_birth}}</p>
          <p>
            <img src="{{ MEDIA_URL }}{{ member.image_path }}" alt="">
          </p>
        </section>
        <section>
          <h3>主要事迹</h3>
          <p>{{member.other_individual_details}}</p>
        </section>
      </section>
      <section>
        <h2 class="title">
          <a href="">
          <span>家族关系</span>          
          <i class="weui-icon-info-circle"></i>
          </a>
        </h2>
        <section>
          <h3>家族1</h3>
          <p>xx家族创始人</p>
          <p>
            <img src="" alt="">
          </p>
        </section>
      </section>
      <section>
        {% if member.created_by == user %}
        <a href="{% url 'family:modify_member' member.id %}" class="weui-btn weui-btn_block weui-btn_primary">修改成员信息</a>
        {% endif %}
      </section>
    </article>
  </div>
</div>
{% endblock %}
