{% extends "family/base.html" %}

{% block title %}编辑成员关系{% endblock %}

{% block content %}
<div class="weui-panel">
  <div class="weui-panel__bd">        
    <form  action="" method="post">
      {% csrf_token %}
      <div class="weui-cells__title">编辑成员关系</div>
      <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label">成员姓名</label></div>
          <div class="weui-cell__bd">
            <input class="weui-input" type="text" value="{{member}}" disabled>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label">家族名称</label></div>
          <div class="weui-cell__bd">
            <input class="weui-input" type="text" value="{{family}}" disabled>
          </div>
        </div>
        <div class="weui-cell weui-cell_select weui-cell_select-after {% if form.individual_2_id.errors %}weui-cell_warn{% endif %}">
          <div class="weui-cell__hd">
            <label for="" class="weui-label">目标人物</label>
          </div>
          <div class="weui-cell__bd">
            <select class="weui-select" name="individual_2_id">
              <option value="">请选择要关联的目标人物</option>
              {% for member in members %}
              <option value="{{member.id}}">{{member}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="weui-cell weui-cell_select weui-cell_select-after {% if form.individual_2_role_code.errors %}weui-cell_warn{% endif %}">
          <div class="weui-cell__hd">
            <label for="" class="weui-label">目标称谓</label>
          </div>
          <div class="weui-cell__bd">
            <select class="weui-select" name="individual_2_role_code">
              <option value="">请选择目标人物的称谓</option>
              {% for role in roles %}
              <option value="{{role.role_code}}">{{role}}</option>
              {% endfor %}
            </select>
          </div>
        </div>        
        <div class="weui-cell {% if form.date_relationship_started.errors %}weui-cell_warn{% endif %}">
          <div class="weui-cell__hd"><label for="" class="weui-label">发生日期</label></div>
          <div class="weui-cell__bd">
            <input class="weui-input" type="date" value="{{form.date_relationship_started.value|date:'Y-m-d'}}" name="date_relationship_started">
          </div>
          <div class="weui-cell__ft">
            <i class="weui-icon-warn"></i>
          </div>
        </div>        
        <div class="weui-cell {% if form.date_relationship_ended.errors %}weui-cell_warn{% endif %}">
          <div class="weui-cell__hd"><label for="" class="weui-label">终止日期</label></div>
          <div class="weui-cell__bd">
            <input class="weui-input" type="date" value="{{form.date_relationship_ended.value|date:'Y-m-d'}}" name="date_relationship_ended">
          </div>
          <div class="weui-cell__ft">
            <i class="weui-icon-warn"></i>
          </div>
        </div>
        <div class="weui-cell {% if form.relationship_place.errors %}weui-cell_warn{% endif %}">
          <div class="weui-cell__hd"><label class="weui-label">发生地点</label></div>
          <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="请输入确定关系的地点" name="relationship_place" value="{{form.relationship_place.value|default:''}}">
          </div>
          <div class="weui-cell__ft">
            <i class="weui-icon-warn"></i>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <textarea class="weui-textarea" placeholder="备注" rows="3" name="other_relationship_details">{{form.other_relationship_details.value|default:''}}</textarea>
            <div class="weui-textarea-counter"><span>0</span>/200</div>
          </div>
        </div>
      </div>
      <div class="weui-cells__tips">{{ form.non_field_errors }}</div>
      <div class="weui-btn-area">
        <input class="weui-btn weui-btn_block weui-btn_primary" type="submit" value="保存">
      </div>      
    </form>    
  </div>
</div>
{% endblock %}
