{% extends "family/base.html" %}
{% load static %}

{% block title %}家族族谱{% endblock %}

{% block style %}
<style>
  html, body {
    width: 100%;
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .wrap {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    flex: 1;
  }
</style>
{% endblock %}

{% block content %}
<div class="wrap">
  <div id="myDiagramDiv" style="width:100%; height:100%; background-color: #DAE4E4;"></div>
</div>

<section>
  <div
    class="js-data"
    data-key="{{head_member.id}}"
    data-name="{{head_member.last_name}}"
    data-gender="{{head_member.gender}}"
    data-source="{{head_member.image_path}}"
  ></div>
  {% for relation in relations %}
  <div
    class="js-data"
    data-key="{{relation.individual_1_id.id}}"
    data-name="{{relation.individual_1_id.last_name}}"
    data-gender="{{relation.individual_1_id.gender}}"
    data-source="{{relation.individual_1_id.image_path}}"
    data-role="{{relation.relationship_type_code.relationship_type_code}}"
    data-following="{{relation.individual_2_id.id}}"
  ></div>
  {% endfor %}
</section>
{% endblock %}

{% block script %}
<script src="{% static 'libs/js/go.js' %}"></script>
<script src="{% static 'family/js/genealogy.js' %}"></script>

<script>
window.onload = function(){
  // n: name, s: sex, m: mother, f: father, ux: wife, vir: husband
  var dom = document.querySelectorAll(".js-data")
  var data = []
  var obj = {}

  for(var i=0; i<dom.length; i++) {    
    var key = dom[i].dataset.key
    var following = dom[i].dataset.following

    data[i] = {}
    data[i].key = key
    data[i].n = dom[i].dataset.name
    data[i].s = dom[i].dataset.gender
    data[i].source = "{{ MEDIA_URL }}" + dom[i].dataset.source

    if(dom[i].dataset.role == "M") {
      if(dom[i].dataset.gender == "M") {
        data[i].ux = following
        obj[following] = {}
        obj[following].vir = key
      }else if(dom[i].dataset.gender == "F") {
        data[i].vir = following
        obj[following] = {}
        obj[following].ux = key
      }      
    }else if(dom[i].dataset.role == "C") {
      data[i].parent = following
    }
  }

  for(var j=0; j<data.length; j++) {
    if(data[j].parent) {
      if(obj[data[j].parent] && obj[data[j].parent].ux) {
        data[j].f = data[j].parent
        data[j].m = obj[data[j].parent].ux
      }else if(obj[data[j].parent] && obj[data[j].parent].vir) {
        data[j].m = data[j].parent
        data[j].f = obj[data[j].parent].vir
      }
    }
  }
   
  init(data)
}
</script>
{% endblock %}
